@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.heading span {
    color: red;
}
.container {
    display: flex;
    flex-direction: column;
  }
  .Third{
    text-align: center;
    background-color:#272822;
    height:10vw;
    padding: 1.5vw;
    border-radius: 0.75vw 0.75vw 0vw 0vw;
  }
  .Third a span{
    color:red;
  }
  .Third a{
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vw;
    transition: all 0.3s ease-in-out;
  
  }
  .Third a:hover{
    color: red;
  }