* {
  margin: 0;
  padding: 0;
}
.logo img {
  height: 1.75vw;
  width: 1.75vw;
  margin-right: 10px;
}
nav {
  height: 4.5vw;
  width: 100vw;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
}
.container{
    background-color: red;
    width: 60vw;
    height: 10vw;
    margin:  auto;
    margin-top: 2vw;
}
