@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
.logo img {
  height: 1.75vw;
  width: 1.75vw;
  margin-right: 10px;
}
nav {
  height: 4.5vw;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
}
.container {
  width: 60vw;
  height: 10vw;
  margin: auto;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}
.second{
  text-align: center;
  background-color:#272822;
  height:10vw;
  padding: 1.5vw;
  border-radius: 0.75vw 0.75vw 0vw 0vw;
}
.second a span{
  color:red;
}
.second a{
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  text-decoration: none;
  font-size: 2vw;
  transition: all 0.3s ease-in-out;

}
.second a:hover{
  color: red;
}
li {
  font-size: 2vw;
  font-family: "Marcellus", serif;
  color: rgba(25, 22, 22, 0.818);
}

.toolbar-item button {
  cursor: pointer !important;
  color: white !important;
  border: 1px solid white !important;
  padding: 5px 14px !important;
}
code{
  font-size: 0.25vw;
  font-family: "Marcellus", serif;
  
}

 
